.container {
  display: flex;
  flex-direction: column;
  background-color: #ffd27e;
  border-radius: 16px;
  padding: 20px;
  position: relative;
  height: 213px;
}
.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 14px;
  color: #10255e;
  font-weight: 700;
  max-width: 169px;
  margin-top: 10px;
  line-height: 18px;
  max-height: 54px;
  -webkit-line-clamp: 3;
  stroke: #10255e;
  -webkit-text-stroke-width: 0.2px;
  overflow: hidden;
}
.text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  max-height: 100px;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #10255e;
  max-width: 169px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
}

.viewIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.tooltip {
  max-width: 200px;
  z-index: 9999 !important;
}
