.competence {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.text {
  font-weight: 800;
  font-size: 12px;
  line-height: 19px;
}

.title {
  @extend .text;
  color: #0087af;
  text-transform: uppercase;
}

.niveau {
  @extend .text;
  color: #10255e;
}

.modal {
  width: 405px;
  background: #f5f6fb;
  box-shadow: 0px 4px 10px rgba(16, 37, 94, 0.26);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
}
