.containerAdd {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.headerRef {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.titlePage {
  font-family: 'Montserrat-bold';
}
.inputAdd {
  height: 48px;
  width: 350px;
  background-color: #fff;
  border-radius: 16px;
  border: none;
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  padding-left: 10px;
  font-family: 'Montserrat-bold';
  outline: 0;
  color: #10255e;
  &::-webkit-input-placeholder {
    color: rgba(16, 37, 94, 0.6);
  }
  &::-moz-placeholder {
    color: rgba(16, 37, 94, 0.6);
  }
}
.btnSaveContainer {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  height: 48px;
}
.btnSave {
  width: 100px;
  font-size: 12px !important;
  padding: 0px 7px !important;
  margin-bottom: 8px;
}
.disableAddBtn {
  border-radius: 16px;
  color: rgba(16, 37, 94, 0.6);
}
.bodyContent {
  background-color: #fff;
  flex: 1 1 0;
  width: 100%;
  padding: 33px 30px;
}

.competenceHeader {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 10px 20px;
  background: #f5f6fb;
}

.levelToAdd {
  background: rgba(122, 230, 255, 0.15);
}
.competence {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 10px 20px;
  border-top: 1px solid #c7ccdc;
  min-height: 143px;
  transition: height 0.4s;
}
.text {
  font-weight: 800;
  font-size: 12px;
  line-height: 19px;
}
.headerArray {
  @extend .text;
  font-family: 'Montserrat-bold';
  text-transform: uppercase;
  color: #10255e;
}
.rowCompetenceContainer {
  display: flex;
  align-items: center;
  height: 51px;
  border-top: 1px solid #c7ccdc;
  position: relative;
}
.indicateurSubs {
  width: 100px;
  height: 30px;
  border: 1px solid #707c9e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.indicateurSubsText {
  font-family: 'Montserrat-bold';
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #10255e;
  margin-left: 4px;
}
.rowCompetence {
  font-family: 'Montserrat-bold';
  font-size: 18px;
  line-height: 29px;
  text-transform: uppercase;
  padding: 16px 22px;
}
.indicateur {
  width: 6px;
  height: 29px;
}
.img {
  padding-top: 3px;
  padding-left: 4px;
}
.btnAdd {
  width: 32px;
  height: 28px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: width 0.2s;
  overflow: hidden;
  &:hover {
    width: 100px;
    transition: width 0.2s;
  }
}
.textAdd {
  font-family: 'Montserrat-bold';
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 10px;
  padding-bottom: 2px;
}
.title {
  text-transform: uppercase;
  font-family: 'Montserrat-bold';
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
}
.titleCompetence {
  text-transform: uppercase;
  font-family: 'Montserrat-bold';
  font-weight: 800;
  font-size: 12px;
  line-height: 19px;
  cursor: pointer;
}
.titleAddLevel {
  font-family: 'Montserrat-bold';
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.btnAddLevel {
  border: 3px solid #7ae6ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}
.level {
  font-family: 'Montserrat-semi';
  font-size: 24px;
  line-height: 38, 4px;
  text-align: center;
  color: #10255e;
  cursor: pointer;
}
.niveau {
  @extend .text;
  color: #10255e;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.subTitle {
  font-family: 'Montserrat-italic';
  font-size: 12px;
  line-height: 19px;
  color: #10255e;
  font-weight: 500;
}

.modal {
  width: 405px;
  display: flex;
  flex-direction: column;
}
.bodyModal {
  margin-top: 10px !important;
}
.labelInput {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(16, 37, 94, 0.6);
  text-align: left;
  margin-left: 5px;
}
.inputStyle {
  background: #ffffff;
  border-radius: 16px;
  border: none;
  width: 100%;
  height: 112px;
  margin-bottom: 20px;
  outline: 0;
  text-transform: uppercase;
  resize: none;
  padding: 9px;
  font-size: 14px;
  line-height: 22px;
}
.inputModal {
  @extend .inputStyle;
  font-family: 'Montserrat-bold';
}
.inputModalLevel {
  @extend .inputStyle;
  font-family: 'Montserrat';
  font-weight: 500;
  text-transform: capitalize;

  
}
.addBtnModal {
  width: 100%;
}
.errorTextModal {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}
.btnDelete {
  background: #ff458b !important;
  padding: 3px 20px;
}
.modal_confirmation_transition {
  transform: translate(-230px);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.modal_confirmation {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.delModalContainer {
  position: absolute;
  left: 480px;
  bottom: 200px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(16, 37, 94, 0.26);
  border-radius: 16px;
  width: 537px;
  height: 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  z-index: 1500;
  .arrow {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 23px;
    border-bottom-width: 23px;
    border-right: 23px solid white;
    position: absolute;
    left: -23px;
    top: 20px;
  }
  .btnDelContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    .btnCancel {
      border: 1px solid rgba(16, 37, 94, 0.4) !important;
      color: rgba(16, 37, 94, 0.4);
      padding: 3px 20px;
      background-color: transparent;
    }
    .btnDEL {
      background: #ff458b;
      padding: 3px 20px;
    }
  }
}
