$border-radius: 16px;
$background: #eaedf6;
$selected-background: #fff;
$arrow-margin: 10.25px;

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  @extend .center;
  width: 100%;
}

.pages {
  background-color: $background;
  border-radius: $border-radius;
  display: flex;
}

.page {
  @extend .center;
  width: 44px;
  height: 48px;
  color: #10255e;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  border-radius: $border-radius;
  cursor: pointer;
}

.pageSelected {
  background-color: $selected-background;
}

.arrow {
  @extend .center;
  width: 58px;
  height: 48px;
  background: $background;
  border-radius: $border-radius;
  cursor: pointer;
  &:hover{
    background-color:  rgba(47, 80, 168 , 0.5);
  }
}

.arrowLeft {
  margin-right: $arrow-margin;
}

.arrowRight {
  margin-left: $arrow-margin;
}

.arrowFirst {
  transform: rotate(180deg);
  margin-right: $arrow-margin;
}

.arrowLast {
  margin-left: $arrow-margin;
}
