.text_cont {
  font-size: 18px;
  line-height: 160%;
  color: #10255e;
  margin-bottom: 5px;
}
.linkContainer{
  text-decoration: none;
  cursor: pointer;
.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 36px 36px 49px;
  top: 240px;
  border-radius: 16px;
  height: fit-content;
  margin: 15px 15px;
  &:hover {
    border: 3px solid #7ae6ff;   
    overflow: hidden;
     margin: calc(16px - 3px);



  }
  .textCard {
    width: 100%;
    flex: 1;
  }
  .titleContainer {
    @extend .text_cont;
    font-weight: bold;
  }
  .textContainer {
    @extend .text_cont;
  }
  .logoContainer {
    margin-right: 20px;
  }
}
}