.inputContainer {
  width: 100%;
  margin-bottom: 24px;
  .labelContainer {
    .label {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: rgba(16, 37, 94, 0.6);
      margin-bottom: 11px;
    }
  }

  .wrapperInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    position: relative;
    .showPasswordImage {
      position: absolute;
      bottom: 13px;
      right: 5px;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
    .input {
      width: -webkit-fill-available;
      width: -moz-available;
      height: 48px;
      background: #f5f6fb;
      border-radius: 16px;
      border: transparent;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      color: #10255e;
      padding-left: 24px;

      &:focus {
        outline: none;
        border: 1px solid #10255e;
      }
    }
    .inputError {
      border-radius: 16px;
      border: 1px solid red !important;
    }
    .inputErrorText {
      color: red;
      font-size: 14px;
    }
    .input::placeholder {
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      color: rgba(16, 37, 94, 0.6);
    }

    .input::-moz-placeholder {
      line-height: 48px;
    }
  }
  .inputErrorText {
    color: red;
    font-size: 14px;
  }
}
