.container_home {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  .btn_container {
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
    margin-bottom: 10px;

    .btnLogout {
      width: 180px;
      height: 40px;
      background-color: #10255e;
      border: none;
      border-radius: 10px;
      .spanBtn {
        color: white;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .box_container {
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;
    flex: 1 1 0;
  }
}
.addPadding {
  padding: 20px;
}
