body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat';
  background-color: #f5f6fb;
}

@font-face {
  font-family: ocean;
  src: url('./assets/fonts/ocean-six.ttf');
}

* {
  box-sizing: border-box;
  flex: 0 0 auto;
}

button:focus {
  outline: none;
}
